$color-default: grey;
$color-invalid: red;
$color-valid: green;

.error-message {
    display: none;
    font-weight: bold;
    color: $color-invalid;
}


input,
textarea {
    width: 100%;
    margin-bottom: 1rem;
    border: 2px solid $color-default;
}

span {
    color: $color-invalid;
}

span::before {
    display: inline;
    content: "⚠ ";
}

input:not(:focus):not(:placeholder-shown):invalid {
    border-color: $color-invalid;
  }
input:not(:focus):not(:placeholder-shown):invalid .error{
    border-color: $color-invalid;
  }
input:not(:focus):not(:placeholder-shown):valid .valid{
    border-color: $color-valid;
  }

.error{
    border: 1px solid $color-invalid;
}
.valid{
    border: 1px solid $color-valid;
}